asttokens==3.0.1
certifi==2026.1.4
cffi==2.0.0
charset_normalizer==3.4.4
clr_loader==0.2.10
colorama==0.4.6
comm==0.2.3
contourpy==1.3.2
cycler==0.12.1
debugpy==1.8.19
decorator==5.2.1
exceptiongroup==1.3.1
executing==2.2.1
fonttools==4.61.1
idna==3.11
ipykernel==7.1.0
ipython==8.38.0
jedi==0.19.2
jupyter_client==8.7.0
jupyter_core==5.9.1
kiwisolver==1.4.9
matplotlib==3.10.8
matplotlib_inline==0.2.1
nest_asyncio==1.6.0
numpy==2.2.6
packaging==25.0
parso==0.8.5
pillow==12.1.0
platformdirs==4.5.1
prompt_toolkit==3.0.52
psutil==7.2.1
pure_eval==0.2.3
pycparser==3.0
pygments==2.19.2
pyparsing==3.3.1
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
pyqt5-sip==12.17.2
PyQt6==6.10.2
PyQt6-Qt6==6.10.1
pyqt6-sip==13.10.3
python-dateutil==2.9.0.post0
pythonnet==3.0.5
pyvisa==1.16.0
pyzmq==27.1.0
requests==2.32.5
scipy==1.15.3
six==1.17.0
stack_data==0.6.3
tornado==6.5.4
tqdm==4.67.1
traitlets==5.14.3
typing_extensions==4.15.0
urllib3==2.6.3
wcwidth==0.2.14
